.rocket_page .mark_style {
  font-weight: 700;
  background-image: linear-gradient(transparent 50%, #ffeea3 50%);
}

#about_rocket {
  margin-top: -22px;
  background-color: #e6ebff;
  border-radius: 40px;
}
#about_rocket:target {
  scroll-margin-top: 64px;
}
@media (min-width: 1441px) {
  #about_rocket {
    border-radius: 0;
  }
}
@media (max-width: 1023px) {
  #about_rocket {
    margin-top: -28px;
    border-radius: 24px;
  }
}
#about_rocket .about_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 32px;
}
@media (max-width: 1023px) {
  #about_rocket .about_container {
    flex-direction: column;
    gap: 24px;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}
#about_rocket .summary {
  width: 40%;
}
@media (max-width: 1023px) {
  #about_rocket .summary {
    width: 100%;
  }
}
#about_rocket .summary_title_en {
  font-size: 20px;
}
@media (max-width: 1023px) {
  #about_rocket .summary_title_en {
    font-size: 16px;
  }
}
#about_rocket .summary_title_en ~ p {
  margin-top: 40px;
}
@media (max-width: 1023px) {
  #about_rocket .summary_title_en ~ p {
    margin-top: 16px;
  }
}
#about_rocket .summary_description {
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 1023px) {
  #about_rocket .summary_description {
    font-size: 16px;
  }
}
#about_rocket .card_container_outside {
  width: 50%;
}
@media (max-width: 1023px) {
  #about_rocket .card_container_outside {
    width: 100%;
  }
}
#about_rocket .card_container {
  width: 100%;
  height: 592px;
  overflow-y: scroll;
  overflow-x: visible;
  gap: 32px 0;
}
#about_rocket .card_container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
@media (max-width: 1023px) {
  #about_rocket .card_container {
    height: 100%;
    overflow: visible;
  }
}
#about_rocket .career_card {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  padding: 36px;
  border-radius: 24px;
  list-style: none;
}
@media (max-width: 1023px) {
  #about_rocket .career_card {
    align-items: start;
  }
}
@media (max-width: 767px) {
  #about_rocket .career_card {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 16px 20px;
  }
}
#about_rocket .career_card:first-child {
  margin-top: 0;
}
#about_rocket .career_card:first-child img {
  margin-left: -51px;
}
@media (max-width: 767px) {
  #about_rocket .career_card:first-child img {
    margin-top: -116px;
    margin-left: 0px;
  }
}
#about_rocket .career_card:nth-of-type(2) img {
  margin-left: -63px;
}
@media (max-width: 767px) {
  #about_rocket .career_card:nth-of-type(2) img {
    margin-top: -116px;
    margin-left: 0px;
  }
}
#about_rocket .career_card:nth-of-type(3) img {
  margin-left: -59px;
}
@media (max-width: 767px) {
  #about_rocket .career_card:nth-of-type(3) img {
    margin-top: -116px;
    margin-left: 0px;
  }
}
#about_rocket .career_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
@media (max-width: 1023px) {
  #about_rocket .career_text {
    width: 100%;
    height: 120px;
  }
}
#about_rocket .skills {
  display: flex;
  margin-top: 12px;
}
@media (max-width: 1023px) {
  #about_rocket .skills {
    margin-top: 8px;
  }
}
#about_rocket .skills li {
  width: fit-content;
  padding: 8px 12px;
  margin-left: 12px;
  border: 2px solid #7f94e2;
  border-radius: 999px;
  color: #7f94e2;
  list-style: none;
  line-height: normal;
  font-size: 16px;
}
#about_rocket .skills li:first-child {
  margin-left: 0;
}
@media (max-width: 1023px) {
  #about_rocket .skills li {
    font-size: 12px;
  }
}
#about_rocket .title_en {
  color: #9a9a9a;
  font-size: 24px;
  margin-top: 72px;
}
@media (max-width: 767px) {
  #about_rocket .title_en {
    font-size: 20px;
    margin-top: 12px;
  }
}
#about_rocket .career_img {
  display: block;
  width: 169px;
  height: 208px;
  border-radius: 24px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: start;
  align-items: center;
}
@media (max-width: 767px) {
  #about_rocket .career_img {
    justify-content: center;
    width: 100%;
    height: 60px;
    border-radius: 12px;
    margin-top: 136px;
  }
}
#about_rocket .career_img img {
  height: 160px;
}

#success_case {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
#success_case .case_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 92px;
  padding-bottom: 120px;
  width: 100%;
}
@media (max-width: 767px) {
  #success_case .case_container {
    padding-top: 48px;
    padding-bottom: 92px;
  }
}
#success_case .case_card_container {
  width: 100%;
  margin-top: 28px;
}
@media (max-width: 767px) {
  #success_case .case_card_container {
    width: 100%;
    margin-top: 16px;
  }
}
#success_case li {
  list-style: none;
}
#success_case li img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

#training {
  background-color: #f8f9fd;
  font-size: 16px;
}
#training .training_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  #training .training_container {
    padding-left: 0;
    padding-right: 0;
  }
}
#training .training_container h2 {
  margin-top: -28px;
}
@media (max-width: 767px) {
  #training .training_container h2 {
    margin-top: -20px;
  }
}
#training .new_batch {
  margin: 0;
  padding: 12px 20px;
  margin-top: 12px;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0 2px 4px #e8e8e8;
  display: flex;
}
@media (max-width: 767px) {
  #training .new_batch {
    max-width: 332px;
    width: 100%;
    margin-top: 8px;
    font-size: 14px;
  }
}
#training .new_batch_title {
  width: fit-content;
  padding: 5px 11px 5px 0;
  margin-right: 11px;
  border-right: 2px solid #f0f0f0;
  line-height: normal;
  white-space: nowrap;
}
#training .new_batch_ticker {
  padding: 5px 0;
  font-weight: 500;
  overflow: hidden;
}
@media (max-width: 767px) {
  #training .new_batch_ticker {
    min-width: 210px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
  }
}
#training .new_batch_ticker_text {
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}
#training .new_batch_ticker_text:nth-child(2) {
  display: none;
}
@media (max-width: 767px) {
  #training .new_batch_ticker_text {
    height: 24px;
    white-space: nowrap;
  }
  #training .new_batch_ticker_text:first-child {
    animation: marquee_ticker_first 20s linear infinite;
  }
  #training .new_batch_ticker_text:nth-child(2) {
    display: block;
    animation: marquee_ticker_second 20s linear infinite;
    animation-delay: 10s;
    margin-left: 16px;
  }
  @keyframes marquee_ticker_first {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-150%);
    }
  }
  @keyframes marquee_ticker_second {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-250%);
    }
  }
}
#training .career_card_container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 12%;
  padding-right: 12%;
}
@media (max-width: 767px) {
  #training .career_card_container {
    padding-left: 0;
    padding-right: 0;
  }
}
#training .career_card {
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 42px;
  margin-top: 80px;
  background: #fff url("../image/training/training-bg.png");
  border-radius: 16px;
  border: 1px solid #f0f0f0;
  list-style: none;
  width: 100%;
}
@media (max-width: 767px) {
  #training .career_card {
    border-radius: 0;
    padding-left: 10%;
    padding-right: 10%;
  }
}
#training .card_content_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 767px) {
  #training .card_content_container {
    flex-direction: column;
  }
}
#training .career_card_title {
  align-self: flex-start;
  margin-top: -32px;
  margin-bottom: 28px;
  width: 100%;
}
@media (max-width: 767px) {
  #training .career_card_title {
    order: -10;
    margin-bottom: 24px;
  }
}
#training .career_card_title h3 {
  display: inline-block;
  padding: 12px 40px;
  border: 2px solid #363636;
  border-radius: 12px;
  box-shadow: 4px 4px 0 #363636;
  background-color: #fff;
  line-height: normal;
  font-size: 24px;
  outline: none;
}
@media (max-width: 767px) {
  #training .career_card_title h3 {
    font-size: 20px;
  }
}
#training .card_content {
  width: 60%;
}
@media (max-width: 767px) {
  #training .card_content {
    width: 100%;
  }
}
#training .card_content_content {
  margin-top: 36px;
}
@media (max-width: 767px) {
  #training .card_content_content {
    margin-top: 24px;
  }
}
#training .card_content_content:first-child {
  margin-top: 0;
}
@media (max-width: 767px) {
  #training .card_content_content:first-child {
    margin-top: 24px;
  }
}
#training .card_content_content p {
  font-weight: 400;
}
#training .card_content_content h4 {
  display: inline-block;
  margin-bottom: 16px;
  border-bottom: 3px solid #363636;
  font-size: 20px;
}
@media (max-width: 767px) {
  #training .card_content_content h4 {
    font-size: 18px;
  }
}
#training .card_content_content .underline_style {
  font-weight: 500;
  text-decoration: underline;
}
#training .card_content_content ol {
  margin-left: 20px;
}
#training .card_content_content ol li {
  font-weight: 400;
}
#training .card_content_content ol li::marker {
  font-family: "Noto Sans TC", sans-serif;
}
#training .card_img {
  width: 30%;
}
@media (max-width: 767px) {
  #training .card_img {
    width: 50%;
    order: -1;
  }
}
#training .card_img img {
  width: 100%;
}
#training .coach {
  width: 100%;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  #training .coach {
    margin-top: 40px;
  }
}
#training .coach h3 {
  display: block;
  align-self: flex-start;
  margin-left: 12%;
}
@media (max-width: 767px) {
  #training .coach h3 {
    margin-left: 48px;
  }
}
#training .coach_container {
  width: 100%;
}
#training .coach_card_container_inside {
  padding-left: 12%;
}
@media (max-width: 767px) {
  #training .coach_card_container_inside {
    padding-left: 48px;
  }
}
#training .coach_card {
  width: 251px;
  height: 160px;
  border-radius: 16px;
  background-color: #fff;
  border: 2px solid #363636;
  display: flex;
  align-items: end;
  margin-top: 40px;
}
#training .coach_card:hover .coach_name {
  margin-top: -40px;
}
#training .coach_card:active, #training .coach_card.active {
  background-color: #e6ebff;
}
@media (max-width: 767px) {
  #training .coach_card {
    width: 332px;
    height: 200px;
  }
}
#training .coach_card img {
  width: 180px;
}
@media (max-width: 767px) {
  #training .coach_card img {
    width: 220px;
  }
}
#training .coach_name {
  writing-mode: vertical-lr;
  padding: 16px 16px 12px 12px;
  background-color: #fff;
  border-radius: 12px;
  border: 2px solid #363636;
  box-shadow: 4px 4px 0 #363636;
  letter-spacing: 0.5em;
  vertical-align: middle;
  align-self: flex-start;
  margin-top: -24px;
}
@media (max-width: 767px) {
  #training .coach_name {
    font-size: 18px;
    margin-left: 26px;
  }
}
#training .coach_description {
  flex-direction: column;
  width: 100%;
  margin-top: 28px;
}
#training .coach_description h4 {
  font-size: 24px;
}
@media (max-width: 767px) {
  #training .coach_description h4 {
    font-size: 20px;
  }
}
#training .coach_description ul {
  margin-top: 12px;
  margin-left: 20px;
}
#training .coach_description ul li,
#training .coach_description ul a {
  font-weight: 400;
  color: #363636;
}

#faq .faq_container {
  display: flex;
  flex-direction: column;
  padding-top: 128px;
  padding-bottom: 124px;
  gap: 60px;
}
@media (max-width: 767px) {
  #faq .faq_container {
    padding-top: 92px;
    padding-bottom: 76px;
    gap: 48px;
  }
}
#faq section li {
  font-size: 16px;
  font-weight: 500;
  list-style: none;
}
#faq .question_item {
  border-top: 2px solid #f0f0f0;
  padding: 20px;
  display: flex;
  align-items: start;
  justify-content: start;
}
@media (max-width: 767px) {
  #faq .question_item {
    padding: 20px 0;
  }
}
#faq .question_item:last-child {
  border-bottom: 2px solid #f0f0f0;
}
#faq .question_item img {
  width: 24px;
  margin-right: 20px;
}
#faq .question_item_Q,
#faq .question_item_A {
  max-width: 761px;
  width: 100%;
}
#faq .question_item_A {
  font-weight: 400;
  margin-top: 8px;
}

#support {
  width: 100%;
  background-color: #f0f0f0;
}
#support .support_container {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  #support .support_container {
    margin-bottom: 16px;
  }
}
#support .support_container h2 {
  margin-top: -16px;
  margin-left: 5%;
  font-size: 32px;
}
@media (max-width: 767px) {
  #support .support_container h2 {
    margin-left: 10%;
    font-size: 24px;
  }
}
#support .support_container .support_card_container_outside {
  margin-top: 32px;
  width: 100%;
  overflow-x: scroll;
}
#support .support_container .support_card_container_outside::-webkit-scrollbar {
  width: 0;
  height: 0;
}
@media (max-width: 767px) {
  #support .support_container .support_card_container_outside {
    margin-top: 16px;
  }
}
#support .support_container .support_card_container {
  width: 1516px;
  margin: 0 5%;
  display: flex;
  justify-content: start;
  gap: 24px;
}
@media (max-width: 767px) {
  #support .support_container .support_card_container {
    width: 1212px;
    margin: 0 10%;
    gap: 20px;
  }
}
#support .support_container .support_card_container .support_card_item {
  list-style: none;
}
#support .support_container .support_card_container .support_card_item .support_img {
  width: 196px;
  height: 148px;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  #support .support_container .support_card_container .support_card_item .support_img {
    width: 156px;
    height: 120px;
  }
}
#support .support_container .support_card_container .support_card_item .support_img img {
  height: auto;
}
#support .support_container .support_card_container .support_card_item .support_img img.rocket,
#support .support_container .support_card_container .support_card_item .support_img img.goodidea,
#support .support_container .support_card_container .support_card_item .support_img img.titan,
#support .support_container .support_card_container .support_card_item .support_img img.skw {
  width: 100px;
}
@media (max-width: 767px) {
  #support .support_container .support_card_container .support_card_item .support_img img.rocket,
  #support .support_container .support_card_container .support_card_item .support_img img.goodidea,
  #support .support_container .support_card_container .support_card_item .support_img img.titan,
  #support .support_container .support_card_container .support_card_item .support_img img.skw {
    width: 80px;
  }
}
#support .support_container .support_card_container .support_card_item .support_img img.hexschool {
  width: 120px;
}
@media (max-width: 767px) {
  #support .support_container .support_card_container .support_card_item .support_img img.hexschool {
    width: 100px;
  }
}
#support .support_container .support_card_container .support_card_item .support_img img.kdan {
  width: 160px;
}
@media (max-width: 767px) {
  #support .support_container .support_card_container .support_card_item .support_img img.kdan {
    width: 140px;
  }
}
#support .support_container .support_card_container .support_card_item .support_img img.wistron {
  width: 150px;
}
@media (max-width: 767px) {
  #support .support_container .support_card_container .support_card_item .support_img img.wistron {
    width: 120px;
  }
}
#support .support_container .support_card_container .support_card_item .support_text {
  font-size: 16px;
  margin-top: 16px;
}
#support .support_container .support_card_container .support_card_item .support_text p:last-child {
  font-weight: 500;
  margin-top: 4px;
}
@media (max-width: 767px) {
  #support .support_container .support_card_container .support_card_item .support_text {
    font-size: 14px;
  }
}