footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px 0;
}
@media (max-width: 767px) {
  footer {
    flex-direction: column;
  }
}
footer p {
  font-size: 16px;
  font-weight: 400;
}
footer p:first-child::after {
  content: "-";
  margin: 0 8px;
}
@media (max-width: 767px) {
  footer p:first-child::after {
    display: none;
  }
}