#marquee {
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 1px 2px #f0f0f0;
}
#marquee .container {
  display: flex;
}
#marquee .container:first-child {
  animation: marquee_first 50s linear infinite;
}
#marquee .container:nth-child(2) {
  animation: marquee_second 50s linear infinite;
  animation-delay: -25s;
}
@keyframes marquee_first {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee_second {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
#marquee .container .marquee_item {
  margin-left: 32px;
  width: fit-content;
  font-size: 16px;
  white-space: nowrap;
}