@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&family=Noto+Sans+TC:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", "Noto Sans TC", sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
*:focus {
  outline: none;
}

a {
  color: #363636;
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

html, body {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

#marquee {
  width: 100%;
  padding: 20px 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
}
#marquee .container:first-child {
  animation: marquee_first 28.8s linear infinite;
}
#marquee .container:nth-child(2) {
  animation: marquee_second 28.8s linear infinite;
  animation-delay: -14.4s;
}
@keyframes marquee_first {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee_second {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
#marquee .container .marquee_item {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 32px;
  font-size: 16px;
  white-space: nowrap;
}

main {
  width: 100%;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  color: #363636;
}

.button_go {
  max-width: 1076px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 96px;
  justify-content: center;
  align-items: center;
  background-color: #E6EBFF;
  border-radius: 16px;
  border: 2px solid #363636;
  margin-top: 32px;
  transform: translate(0, 50%);
}
@media (max-width: 1280px) {
  .button_go {
    max-width: 332px;
    margin-top: -16px;
  }
}
.button_go span {
  font-size: 32px;
}
.button_go img {
  width: 0;
  opacity: 0;
  transition: 0.5s;
}
.button_go:hover img {
  width: 64px;
  opacity: 1;
  margin-left: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px 0;
}
@media (max-width: 1280px) {
  footer {
    flex-direction: column;
  }
}
footer p {
  font-size: 16px;
  font-weight: 400;
}
footer p:first-child::after {
  content: "-";
  margin: 0 8px;
}
@media (max-width: 1280px) {
  footer p:first-child::after {
    display: none;
  }
}

.bold_style {
  font-weight: 700;
}

.mark_style {
  font-weight: 700;
  position: relative;
  z-index: 0;
}

.mark_style::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 50%;
  background-color: #FFEEA3;
}

#banner {
  background: url("../image/banner/banner-bg.png") repeat top center;
  padding: 0 40px 0;
}
@media (max-width: 1280px) {
  #banner {
    padding: 0 12px 0;
  }
}
#banner .container {
  max-width: 1076px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 127px;
  padding-bottom: 182px;
}
@media (max-width: 1280px) {
  #banner .container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 88px;
    height: 462px;
  }
}
#banner .container .deco_cross {
  font-size: 48px;
}
@media (max-width: 1280px) {
  #banner .container .deco_cross {
    display: none;
  }
}
#banner .container .enter_card {
  display: block;
  position: relative;
  width: 440px;
  height: 448px;
  border: 2px solid #E0E0E0;
  border-radius: 24px;
  background-color: #fff;
  transition: 0.5s;
}
@media (max-width: 1280px) {
  #banner .container .enter_card {
    width: 294px;
    height: 134px;
    margin-left: -32px;
  }
  #banner .container .enter_card:first-child {
    margin-bottom: 46px;
  }
}
#banner .container .enter_card:hover {
  margin-top: -16px;
}
#banner .container .enter_card:hover .card_container {
  opacity: 1;
}
#banner .container .enter_card:active {
  box-shadow: 8px 8px 0 #EEE5FF;
}
#banner .container .enter_card .card_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  opacity: 0.5;
}
@media (max-width: 1280px) {
  #banner .container .enter_card .card_container {
    height: 100%;
    flex-direction: row;
    margin-right: -28px;
  }
}
#banner .container .enter_card .card_container .card_title {
  margin-top: -36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1280px) {
  #banner .container .enter_card .card_container .card_title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
    padding: 24px 0 24px 24px;
  }
}
#banner .container .enter_card .card_container .card_title .card_title_chinese {
  font-size: 48px;
  line-height: normal;
  height: 72px;
}
@media (max-width: 1280px) {
  #banner .container .enter_card .card_container .card_title .card_title_chinese {
    font-size: 32px;
  }
}
#banner .container .enter_card .card_container .card_title .card_title_eng {
  color: #9A9A9A;
  font-size: 24px;
}
@media (max-width: 1280px) {
  #banner .container .enter_card .card_container .card_title .card_title_eng {
    width: 100%;
    margin-top: 8px;
    font-size: 20px;
  }
}
#banner .container .enter_card .card_container .card_title img {
  width: 124px;
  margin-top: 24px;
}
@media (max-width: 1280px) {
  #banner .container .enter_card .card_container .card_title img {
    width: 48px;
    order: -1;
    margin: 0 8px 0 0;
  }
}
#banner .container .enter_card .card_container .hashtag {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}
@media (max-width: 1280px) {
  #banner .container .enter_card .card_container .hashtag {
    display: none;
  }
}
#banner .container .enter_card .card_container .hashtag p {
  line-height: 35px;
}
#banner .container .enter_card .enter_btn_lg {
  height: 126px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 44px);
}
@media (max-width: 1280px) {
  #banner .container .enter_card .enter_btn_lg {
    display: none;
  }
}
#banner .container .enter_card .enter_btn_sm {
  display: none;
  width: 60px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  transform: translate(50%, 36px);
}
@media (max-width: 1280px) {
  #banner .container .enter_card .enter_btn_sm {
    display: block;
  }
}
#banner .container .enter_card .shape {
  width: 120px;
  height: 120px;
  border-radius: 999px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #EEE5FF;
}
@media (max-width: 1280px) {
  #banner .container .enter_card .shape {
    width: 80px;
    height: 80px;
    transform: rotate(-90deg) translate(-50%, 50%);
    bottom: 50%;
    left: auto;
    right: 0;
  }
}

#about_rocket {
  margin-top: -22px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #E6EBFF;
  border-radius: 40px;
}
@media (min-width: 1441px) {
  #about_rocket {
    border-radius: 0;
  }
}
@media (max-width: 1280px) {
  #about_rocket {
    margin-top: -28px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
#about_rocket .container {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 1280px) {
  #about_rocket .container {
    max-width: 332px;
    flex-direction: column;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}
#about_rocket .container .what_is {
  width: 526px;
}
@media (max-width: 1280px) {
  #about_rocket .container .what_is {
    width: 100%;
    margin-bottom: 24px;
  }
}
#about_rocket .container .what_is .title_eng {
  font-size: 20px;
}
@media (max-width: 1280px) {
  #about_rocket .container .what_is .title_eng {
    font-size: 16px;
  }
}
#about_rocket .container .what_is .title_eng ~ p {
  margin-top: 40px;
}
@media (max-width: 1280px) {
  #about_rocket .container .what_is .title_eng ~ p {
    margin-top: 16px;
  }
}
#about_rocket .container .what_is .title_chinese {
  font-size: 48px;
  vertical-align: middle;
}
@media (max-width: 1280px) {
  #about_rocket .container .what_is .title_chinese {
    font-size: 32px;
  }
}
#about_rocket .container .what_is .description {
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 1280px) {
  #about_rocket .container .what_is .description {
    font-size: 16px;
  }
}
#about_rocket .container .card_container {
  height: 592px;
  overflow-y: scroll;
}
#about_rocket .container .card_container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
@media (max-width: 1280px) {
  #about_rocket .container .card_container {
    overflow: visible;
    height: 100%;
  }
}
#about_rocket .container .card_container .career_card {
  width: 636px;
  height: 280px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  padding: 36px;
  border-radius: 24px;
}
@media (max-width: 1280px) {
  #about_rocket .container .card_container .career_card {
    width: 332px;
    height: 348px;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 16px 20px;
  }
}
#about_rocket .container .card_container .career_card .career_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
@media (max-width: 1280px) {
  #about_rocket .container .card_container .career_card .career_text {
    width: 100%;
    height: 120px;
  }
}
#about_rocket .container .card_container .career_card .career_text h3 {
  font-size: 24px;
}
#about_rocket .container .card_container .career_card .career_text .skill {
  display: flex;
  margin-top: 12px;
}
@media (max-width: 1280px) {
  #about_rocket .container .card_container .career_card .career_text .skill {
    margin-top: 8px;
  }
}
#about_rocket .container .card_container .career_card .career_text .skill li {
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 12px;
  margin-left: 12px;
  border: 2px solid #7F94E2;
  border-radius: 999px;
  color: #7F94E2;
  list-style: none;
  line-height: normal;
}
#about_rocket .container .card_container .career_card .career_text .skill li:first-child {
  margin-left: 0;
}
@media (max-width: 1280px) {
  #about_rocket .container .card_container .career_card .career_text .skill li {
    font-size: 12px;
  }
}
#about_rocket .container .card_container .career_card .eng_title {
  color: #9A9A9A;
  font-size: 24px;
}
#about_rocket .container .card_container .career_card .career_img {
  display: block;
  width: 169px;
  height: 208px;
  border-radius: 24px;
  background-color: #F0F0F0;
  display: flex;
  justify-content: start;
  align-items: center;
}
@media (max-width: 1280px) {
  #about_rocket .container .card_container .career_card .career_img {
    justify-content: center;
    width: 292px;
    height: 60px;
    border-radius: 12px;
    margin-top: 144px;
  }
}
#about_rocket .container .card_container .career_card .career_img img {
  height: 160px;
}
#about_rocket .container .card_container .career_card:first-child img {
  margin-left: -51px;
}
@media (max-width: 1280px) {
  #about_rocket .container .card_container .career_card:first-child img {
    margin-top: -116px;
    margin-left: 0px;
  }
}
#about_rocket .container .card_container .career_card:nth-of-type(2) img {
  margin-left: -63px;
}
@media (max-width: 1280px) {
  #about_rocket .container .card_container .career_card:nth-of-type(2) img {
    margin-top: -116px;
    margin-left: 0px;
  }
}
#about_rocket .container .card_container .career_card:nth-of-type(3) img {
  margin-left: -59px;
}
@media (max-width: 1280px) {
  #about_rocket .container .card_container .career_card:nth-of-type(3) img {
    margin-top: -116px;
    margin-left: 0px;
  }
}
#about_rocket .container .card_container .career_card:first-child {
  margin-top: 0;
}

#success_case {
  width: 100%;
}
#success_case .container {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 92px;
  padding-bottom: 120px;
}
@media (max-width: 1280px) {
  #success_case .container {
    padding-top: 48px;
    padding-bottom: 92px;
  }
}
#success_case .container h3 {
  font-size: 36px;
}
@media (max-width: 1280px) {
  #success_case .container h3 {
    font-size: 28px;
  }
}
#success_case .container .case_card_container {
  width: 100%;
  overflow-x: scroll;
}
#success_case .container .case_card_container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#success_case .container .case_card_container div {
  width: 1296px;
  display: flex;
  justify-content: space-between;
}
#success_case .container .case_card_container img {
  height: 200px;
  border-radius: 12px;
  margin-top: 28px;
}
@media (max-width: 1280px) {
  #success_case .container .case_card_container img {
    margin-top: 16px;
  }
}

#training {
  background-color: #F8F9FD;
  font-size: 16px;
}
#training .container {
  max-width: 1076px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1280px) {
  #training .container {
    max-width: 1281px;
  }
}
#training .container h3 {
  font-size: 36px;
  margin-top: -28px;
}
@media (max-width: 1280px) {
  #training .container h3 {
    font-size: 28px;
    margin-top: -20px;
  }
}
#training .container .new_batch {
  max-width: 636px;
  width: 100%;
  padding: 12px 20px;
  margin-top: 12px;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0 2px 4px #E8E8E8;
  display: flex;
}
@media (max-width: 1280px) {
  #training .container .new_batch {
    max-width: 332px;
    width: 100%;
    margin-top: 8px;
    font-size: 14px;
  }
}
#training .container .new_batch .new_batch_title {
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 11px 5px 0;
  margin-right: 11px;
  border-right: 2px solid #F0F0F0;
  line-height: normal;
  white-space: nowrap;
}
#training .container .new_batch .new_batch_ticker {
  padding: 5px 0;
  font-weight: 500;
}
@media (max-width: 1280px) {
  #training .container .new_batch .new_batch_ticker {
    min-width: 210px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
  }
}
#training .container .new_batch .new_batch_ticker p {
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}
#training .container .new_batch .new_batch_ticker p:nth-child(2) {
  display: none;
}
@media (max-width: 1280px) {
  #training .container .new_batch .new_batch_ticker p {
    height: 24px;
    white-space: nowrap;
  }
  #training .container .new_batch .new_batch_ticker p:first-child {
    animation: marqueeb_first 10s linear infinite;
  }
  #training .container .new_batch .new_batch_ticker p:nth-child(2) {
    display: block;
    animation-delay: 5s;
  }
  @keyframes marqueeb_first {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes marqueeb_second {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
}
#training .container .career_card_container {
  width: 100%;
}
#training .container .career_card_container .career_card {
  max-width: 1076px;
  width: 100%;
  border-radius: 16px;
  border: 1px solid #F0F0F0;
  background: #fff url("../image/training/training-bg.png");
  padding: 0 48px 42px 48px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 1280px) {
  #training .container .career_card_container .career_card {
    max-width: 1281px;
    border-radius: 0;
    align-items: center;
  }
}
#training .container .career_card_container .career_card h5 {
  display: inline-block;
  margin-top: -32px;
  margin-bottom: 28px;
  padding: 12px 40px;
  border: 2px solid #363636;
  border-radius: 12px;
  box-shadow: 4px 4px 0 #363636;
  background-color: #fff;
  line-height: normal;
  font-size: 24px;
}
@media (max-width: 1280px) {
  #training .container .career_card_container .career_card h5 {
    margin-left: -148px;
    margin-bottom: 24px;
    font-size: 20px;
  }
}
#training .container .career_card_container .career_card .card_content_container {
  max-width: 1076px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1280px) {
  #training .container .career_card_container .career_card .card_content_container {
    flex-direction: column;
    max-width: 332px;
  }
}
#training .container .career_card_container .career_card .card_content_container .card_content {
  width: 618px;
}
@media (max-width: 1280px) {
  #training .container .career_card_container .career_card .card_content_container .card_content {
    width: 100%;
  }
}
#training .container .career_card_container .career_card .card_content_container .card_content section {
  margin-top: 36px;
}
@media (max-width: 1280px) {
  #training .container .career_card_container .career_card .card_content_container .card_content section {
    margin-top: 24px;
  }
}
#training .container .career_card_container .career_card .card_content_container .card_content section:first-child {
  margin-top: 0;
}
@media (max-width: 1280px) {
  #training .container .career_card_container .career_card .card_content_container .card_content section:first-child {
    margin-top: 24px;
  }
}
#training .container .career_card_container .career_card .card_content_container .card_content section p {
  font-weight: 400;
}
#training .container .career_card_container .career_card .card_content_container .card_content section h6 {
  display: inline-block;
  border-bottom: 3px solid #363636;
  font-size: 20px;
  margin-bottom: 16px;
}
@media (max-width: 1280px) {
  #training .container .career_card_container .career_card .card_content_container .card_content section h6 {
    font-size: 18px;
  }
}
#training .container .career_card_container .career_card .card_content_container .card_content section .underline_style {
  font-weight: 500;
  text-decoration: underline;
}
#training .container .career_card_container .career_card .card_content_container .card_content section ol {
  margin-left: 20px;
}
#training .container .career_card_container .career_card .card_content_container .card_content section ol li {
  font-weight: 400;
}
#training .container .career_card_container .career_card .card_content_container .card_content section ol li::marker {
  font-family: "Noto Sans TC", sans-serif;
}
#training .container .career_card_container .career_card .card_content_container .card_img {
  height: 280px;
}
@media (max-width: 1280px) {
  #training .container .career_card_container .career_card .card_content_container .card_img {
    order: -1;
    height: 200px;
  }
}
#training .container .career_card_container .career_card .card_content_container .card_img img {
  height: 100%;
}
#training .container .coach {
  max-width: 1076px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin-top: 64px;
}
@media (max-width: 1280px) {
  #training .container .coach {
    max-width: 332px;
    margin-top: 40px;
  }
}
#training .container .coach h4 {
  font-size: 32px;
}
@media (max-width: 1280px) {
  #training .container .coach h4 {
    font-size: 24px;
  }
}
#training .container .coach .coach_container {
  width: 100%;
}
#training .container .coach .coach_container .coach_card_container_outside {
  overflow-x: scroll;
  overflow-y: visible;
}
#training .container .coach .coach_container .coach_card_container_outside::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#training .container .coach .coach_container .coach_card_container_outside .coach_card_container {
  max-width: 1412px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  #training .container .coach .coach_container .coach_card_container_outside .coach_card_container {
    margin-top: 52px;
  }
}
#training .container .coach .coach_container .coach_card_container_outside .coach_card_container .coach_card {
  width: 251px;
  height: 160px;
  border-radius: 16px;
  background-color: #fff;
  border: 2px solid #363636;
  display: flex;
  align-items: end;
  margin-top: 40px;
}
#training .container .coach .coach_container .coach_card_container_outside .coach_card_container .coach_card:hover .coach_name {
  margin-top: -40px;
}
#training .container .coach .coach_container .coach_card_container_outside .coach_card_container .coach_card:active, #training .container .coach .coach_container .coach_card_container_outside .coach_card_container .coach_card.active {
  background-color: #E6EBFF;
}
@media (max-width: 1280px) {
  #training .container .coach .coach_container .coach_card_container_outside .coach_card_container .coach_card {
    width: 332px;
    height: 200px;
  }
  #training .container .coach .coach_container .coach_card_container_outside .coach_card_container .coach_card:first-child ~ .coach_card {
    margin-left: 28px;
  }
}
#training .container .coach .coach_container .coach_card_container_outside .coach_card_container .coach_card img {
  width: 180px;
}
@media (max-width: 1280px) {
  #training .container .coach .coach_container .coach_card_container_outside .coach_card_container .coach_card img {
    width: 220px;
  }
}
#training .container .coach .coach_container .coach_card_container_outside .coach_card_container .coach_card .coach_name {
  writing-mode: vertical-lr;
  padding: 16px;
  background-color: #fff;
  border-radius: 12px;
  border: 2px solid #363636;
  box-shadow: 4px 4px 0 #363636;
  letter-spacing: 0.5em;
  vertical-align: middle;
  align-self: flex-start;
  margin-top: -24px;
}
#training .container .coach .coach_container .coach_description {
  width: 100%;
  margin-top: 28px;
}
@media (max-width: 1280px) {
  #training .container .coach .coach_container .coach_description {
    max-width: 332px;
  }
}
#training .container .coach .coach_container .coach_description h5 {
  font-size: 24px;
}
@media (max-width: 1280px) {
  #training .container .coach .coach_container .coach_description h5 {
    font-size: 20px;
  }
}
#training .container .coach .coach_container .coach_description ul {
  margin-top: 12px;
  margin-left: 24px;
}
#training .container .coach .coach_container .coach_description ul li, #training .container .coach .coach_container .coach_description ul a {
  font-weight: 400;
  font-size: 16px;
  color: #363636;
}

#faq .container {
  max-width: 856px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 128px;
  padding-bottom: 124px;
}
@media (max-width: 1280px) {
  #faq .container {
    max-width: 332px;
    width: 100%;
    padding-top: 92px;
    padding-bottom: 76px;
  }
}
#faq .container section {
  margin-bottom: 60px;
}
@media (max-width: 1280px) {
  #faq .container section {
    margin-bottom: 48px;
  }
}
#faq .container section h4 {
  font-size: 32px;
}
@media (max-width: 1280px) {
  #faq .container section h4 {
    font-size: 24px;
  }
}
#faq .container section li {
  font-size: 16px;
  font-weight: 500;
  list-style: none;
}
#faq .container section .question_item {
  border-top: 2px solid #F0F0F0;
  padding: 20px;
  display: flex;
  align-items: start;
  justify-content: start;
}
@media (max-width: 1280px) {
  #faq .container section .question_item {
    padding: 20px 0;
  }
}
#faq .container section .question_item:last-child {
  border-bottom: 2px solid #F0F0F0;
}
#faq .container section .question_item img {
  width: 24px;
  margin-right: 20px;
}
#faq .container section .question_item li {
  max-width: 761px;
  width: 100%;
}
#faq .container section .question_item li:first-child {
  font-weight: 700;
  margin-bottom: 8px;
}

#support {
  width: 100%;
  padding-left: 72px;
  background-color: #F0F0F0;
}
@media (max-width: 1280px) {
  #support {
    padding-left: 48px;
  }
}
#support .container {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1280px) {
  #support .container {
    margin-bottom: 16px;
  }
}
#support .container h4 {
  margin-top: -16px;
}
#support .container .support_card_container {
  width: 100%;
  margin-top: 32px;
  overflow-x: scroll;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 1280px) {
  #support .container .support_card_container {
    margin-top: 16px;
  }
}
#support .container .support_card_container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#support .container .support_card_container .support_card_item {
  margin-left: 24px;
}
#support .container .support_card_container .support_card_item:first-child {
  margin-left: 0;
}
#support .container .support_card_container .support_card_item .support_img {
  width: 196px;
  height: 148px;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#support .container .support_card_container .support_card_item .support_text {
  font-size: 16px;
  margin-top: 16px;
}
#support .container .support_card_container .support_card_item .support_text p:last-child {
  font-weight: 500;
  margin-top: 4px;
}/*# sourceMappingURL=bootcamp_rocket.css.map */