@import "guildline";

.mark_style {
  font-weight: 700;
}
.mark_style::after {
  background-color: $accent-yellow;
}

#about_rocket {
  margin-top: -22px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: $primary-blue-100;
  border-radius: 40px;

  &:target {
    padding-top: 64px;
  }

  @include large_desktop() {
    border-radius: 0;
  }

  @include mobile() {
    margin-top: -28px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .container {
    @include w-1296();
    padding-top: 60px;
    padding-bottom: 60px;

    @include mobile() {
      max-width: 332px;
      flex-direction: column;
      padding-top: 36px;
      padding-bottom: 36px;
    }

    .what_is {
      width: 526px;

      @include mobile() {
        width: 100%;
        margin-bottom: 24px;
      }

      .title_eng {
        font-size: $font-size-body-20;

        @include mobile() {
          font-size: $font-size-body-16;
        }
      }

      .title_eng ~ p {
        margin-top: 40px;

        @include mobile() {
          margin-top: 16px;
        }
      }

      .description {
        font-size: $font-size-body-20;
        font-weight: 500;

        @include mobile() {
          font-size: $font-size-body-16;
        }
      }
    }

    .card_container {
      height: 592px;
      overflow-y: scroll;

      @include scrollbar_none();

      @include mobile() {
        overflow: visible;
        height: 100%;
      }

      .career_card {
        width: 636px;
        height: 280px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 32px;
        padding: 36px;
        border-radius: 24px;

        @include mobile() {
          width: 332px;
          height: 348px;
          flex-direction: column;
          align-items: center;
          height: auto;
          padding: 16px 20px;
        }

        .career_text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          height: 100%;

          @include mobile() {
            width: 100%;
            height: 120px;
          }

          .skill {
            display: flex;
            margin-top: 12px;

            @include mobile() {
              margin-top: 8px;
            }

            li {
              width: fit-content;
              padding: 8px 12px;
              margin-left: 12px;
              border: 2px solid $primary-blue-400;
              border-radius: 999px;
              color: $primary-blue-400;
              list-style: none;
              line-height: normal;
              font-size: $font-size-body-16;

              &:first-child {
                margin-left: 0;
              }

              @include mobile() {
                font-size: 12px;
              }
            }
          }
        }

        .eng_title {
          color: $neutral-gray-500;
          font-size: $font-size-body-24;

          @include mobile() {
            font-size: $font-size-body-20;
          }
        }

        .career_img {
          display: block;
          width: 169px;
          height: 208px;
          border-radius: 24px;
          background-color: $neutral-gray-200;
          display: flex;
          justify-content: start;
          align-items: center;

          @include mobile() {
            justify-content: center;
            width: 292px;
            height: 60px;
            border-radius: 12px;
            margin-top: 144px;
          }

          img {
            height: 160px;
          }
        }

        &:first-child img {
          margin-left: -51px;

          @include mobile() {
            margin-top: -116px;
            margin-left: 0px;
          }
        }

        &:nth-of-type(2) img {
          margin-left: -63px;

          @include mobile() {
            margin-top: -116px;
            margin-left: 0px;
          }
        }

        &:nth-of-type(3) img {
          margin-left: -59px;

          @include mobile() {
            margin-top: -116px;
            margin-left: 0px;
          }
        }

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

#success_case {
  width: 100%;
  // padding-left: 40px;
  // padding-right: 40px; //變版時會擠壓到，再想想

  @include mobile() {
    // padding-left: 40px;
    // padding-right: 0px;
  }

  .container {
    @include w-1296();
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 92px;
    padding-bottom: 120px;

    @include mobile() {
      padding-top: 48px;
      padding-bottom: 92px;
    }

    .case_card_container {
      width: 100%;
      overflow-x: scroll;

      @include scrollbar_none();

      div {
        width: 1296px;
        display: flex;
        justify-content: space-between;
      }

      img {
        height: 200px;
        border-radius: 12px;
        margin-top: 28px;

        @include mobile() {
          margin-top: 16px;
        }
      }
    }
  }
}

#training {
  background-color: $neutral-gray-100;
  font-size: $font-size-body-16;

  .container {
    @include w-1076();
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile() {
      max-width: 1281px;
    }

    h2 {
      margin-top: -28px;

      @include mobile() {
        margin-top: -20px;
      }
    }

    //近期梯次
    .new_batch {
      max-width: 636px;
      width: 100%;
      padding: 12px 20px;
      margin-top: 12px;
      border-radius: 50px;
      background-color: #fff;
      box-shadow: 0 2px 4px #e8e8e8;
      display: flex;

      @include mobile() {
        max-width: 332px;
        width: 100%;
        margin-top: 8px;
        font-size: $font-size-body-14;
      }

      .new_batch_title {
        width: fit-content;
        padding: 5px 11px 5px 0;
        margin-right: 11px;
        border-right: 2px solid $neutral-gray-200;
        line-height: normal;
        white-space: nowrap;
      }

      .new_batch_ticker {
        padding: 5px 0;
        font-weight: 500;

        @include mobile() {
          min-width: 210px;
          width: 100%;
          white-space: nowrap;
          overflow: hidden; //之後要加動畫
          display: flex;
        }

        p {
          font-weight: 500;
          line-height: normal;
          white-space: nowrap;

          &:nth-child(2) {
            display: none;
          }

          @include mobile() {
            height: 24px;
            white-space: nowrap;
            // margin-right: 10px;

            //每 0.1s 往左移動 10px
            //從右到左 210px 需要 2.1s

            &:first-child {
              animation: marqueeb_first 10s linear infinite;
            }

            &:nth-child(2) {
              display: block;
              // animation: marqueeb_second 10s linear infinite;
              animation-delay: 5s;

              //這個還沒成功，要再試一次
              @keyframes marqueeb_first {
                0% {
                  transform: translateX(0%);
                }

                100% {
                  transform: translateX(-100%);
                }
              }

              @keyframes marqueeb_second {
                0% {
                  transform: translateX(-50%);
                }

                100% {
                  transform: translateX(-200%);
                }
              }
            }
          }
        }
      }
    }

    //三張工程師卡片
    .career_card_container {
      width: 100%;

      // 卡片
      .career_card {
        max-width: 1076px;
        width: 100%;
        border-radius: 16px;
        border: 1px solid $neutral-gray-200;
        background: #fff url("../image/training/training-bg.png");
        padding: 0 48px 42px 48px; //設計圖上兩邊沒有一樣大 左48 右80 我自己改成雙邊48
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: start;

        @include mobile() {
          max-width: 1281px;
          border-radius: 0;
          align-items: center;
        }

        h5 {
          display: inline-block;
          margin-top: -32px;
          margin-bottom: 28px;
          padding: 12px 40px;
          border: 2px solid $neutral-gray-700;
          border-radius: 12px;
          box-shadow: 4px 4px 0 $neutral-gray-700;
          background-color: #fff;
          line-height: normal;
          font-size: $font-size-body-24;

          @include mobile() {
            margin-left: -150px;
            margin-bottom: 24px;
            font-size: $font-size-body-20;
          }
        }

        .card_content_container {
          @include w-1076();
          align-items: center;

          @include mobile() {
            flex-direction: column;
            max-width: 332px;
          }

          .card_content {
            width: 618px;

            @include mobile() {
              width: 100%;
            }

            section {
              margin-top: 36px;

              @include mobile() {
                margin-top: 24px;
              }

              &:first-child {
                margin-top: 0;

                @include mobile() {
                  margin-top: 24px;
                }
              }

              p {
                font-weight: 400;
              }

              h6 {
                display: inline-block;
                margin-bottom: 16px;
                border-bottom: 3px solid $neutral-gray-700;
                font-size: $font-size-body-20;

                @include mobile() {
                  font-size: $font-size-body-18;
                }
              }

              .underline_style {
                font-weight: 500;
                text-decoration: underline;
              }

              ol {
                margin-left: 20px;

                li {
                  font-weight: 400;

                  &::marker {
                    font-family: "Noto Sans TC", sans-serif;
                  }
                }
              }
            }
          }

          .card_img {
            height: 280px;

            @include mobile() {
              order: -1;
              height: 200px;
            }

            img {
              height: 100%;
            }
          }
        }
      }
    }

    //教練團
    .coach {
      @include w-1076();
      flex-direction: column;
      width: 100%;
      margin-top: 64px;

      @include mobile() {
        max-width: 332px;
        margin-top: 40px;
      }

      .coach_container {
        width: 100%;

        .coach_card_container_outside {
          overflow-x: scroll;
          overflow-y: visible;
          @include scrollbar_none();

          .coach_card_container {
            max-width: 1412px;
            display: flex;
            justify-content: space-between;

            @include mobile() {
              margin-top: 52px;
            }

            .coach_card {
              width: 251px;
              height: 160px;
              border-radius: 16px;
              background-color: #fff;
              border: 2px solid $neutral-gray-700;
              display: flex;
              align-items: end;
              margin-top: 40px;

              &:hover .coach_name {
                margin-top: -40px;
              }

              &:active,
              &.active {
                background-color: $primary-blue-100;
              }

              @include mobile() {
                width: 332px;
                height: 200px;

                &:first-child ~ .coach_card {
                  margin-left: 28px;
                }
              }

              img {
                width: 180px;

                @include mobile() {
                  width: 220px;
                }
              }

              .coach_name {
                writing-mode: vertical-lr;
                padding: 16px 16px 12px 12px;
                background-color: #fff;
                border-radius: 12px;
                border: 2px solid $neutral-gray-700;
                box-shadow: 4px 4px 0 $neutral-gray-700;
                letter-spacing: 0.5em;
                vertical-align: middle;
                align-self: flex-start;
                margin-top: -24px;

                @include mobile() {
                  font-size: $font-size-body-18;
                }
              }
            }
          }
        }

        .coach_description {
          width: 100%;
          margin-top: 28px;

          @include mobile() {
            max-width: 332px;
          }

          h5 {
            font-size: $font-size-body-24;

            @include mobile() {
              font-size: $font-size-body-20;
            }
          }

          ul {
            margin-top: 12px;
            margin-left: 24px;

            li,
            a {
              font-weight: 400;
              color: $neutral-gray-700;
            }
          }
        }
      }
    }
  }
}

#faq {
  .container {
    max-width: 856px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 128px;
    padding-bottom: 124px;

    @include mobile() {
      max-width: 332px;
      width: 100%;
      padding-top: 92px;
      padding-bottom: 76px;
    }

    section {
      margin-bottom: 60px;

      @include mobile() {
        margin-bottom: 48px;
      }

      li {
        font-size: $font-size-body-16;
        font-weight: 500;
        list-style: none;
      }

      .question_item {
        border-top: 2px solid $neutral-gray-200;
        padding: 20px;
        display: flex;
        align-items: start;
        justify-content: start;

        @include mobile() {
          padding: 20px 0;
        }

        &:last-child {
          border-bottom: 2px solid $neutral-gray-200;
        }

        img {
          width: 24px;
          margin-right: 20px;
        }

        li {
          max-width: 761px;
          width: 100%;
        }

        li:first-child {
          font-weight: 700;
          margin-bottom: 8px;
        }
      }
    }
  }
}

#support {
  width: 100%;
  padding-left: 72px;
  background-color: $neutral-gray-200;

  @include mobile() {
    padding-left: 48px;
  }

  .container {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;

    @include mobile() {
      margin-bottom: 16px;
    }

    h4 {
      margin-top: -16px;
    }

    .support_card_container {
      width: 100%; //因為是 100% 所以在轉版的時候會一直跟著改變大小
      margin-top: 32px;
      overflow-x: scroll;
      display: flex;
      justify-content: flex-start; //內部 item 一直靠左

      @include mobile() {
        margin-top: 16px;
      }

      @include scrollbar_none();

      .support_card_item {
        margin-left: 24px;

        &:first-child {
          margin-left: 0;
        }

        .support_img {
          width: 196px;
          height: 148px;
          background-color: #fff;
          border-radius: 12px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            height: auto;
          }

          img.rocket,
          img.goodidea,
          img.titan,
          img.skw {
            width: 100px;

            @include mobile() {
              width: 80px;
            }
          }

          img.hexschool {
            width: 120px;

            @include mobile() {
              width: 100px;
            }
          }

          img.kdan {
            width: 160px;

            @include mobile() {
              width: 140px;
            }
          }

          img.wistron {
            width: 150px;

            @include mobile() {
              width: 120px;
            }
          }
        }

        .support_text {
          font-size: $font-size-body-16;
          margin-top: 16px;

          & p:last-child {
            font-weight: 500;
            margin-top: 4px;
          }

          @include mobile() {
            font-size: $font-size-body-14;
          }
        }
      }
    }
  }
}
