@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&family=Noto+Sans+TC:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", "Noto Sans TC", sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
*:focus {
  outline: none;
}

a {
  color: #363636;
}

html, body {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

#marquee {
  padding: 20px 0;
  border: 1px solid #000;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}
#marquee .container {
  display: flex;
}
#marquee .container .item {
  margin-right: 32px;
}

main {
  width: 100%;
  height: 2000px;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  color: #363636;
}

#banner {
  background: url("../image/banner/banner-bg.png") repeat top center;
  padding: 0 20px 22px;
}
@media (max-width: 1023px) {
  #banner {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 28px;
  }
}
#banner .container {
  max-width: 1076px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 91px;
  padding-bottom: 100px;
}
@media (max-width: 1023px) {
  #banner .container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 80px;
  }
}
#banner .container .deco_cross {
  font-size: 48px;
}
@media (max-width: 1023px) {
  #banner .container .deco_cross {
    display: none;
  }
}
#banner .container .enter_card {
  width: 440px;
  height: 448px;
  border: 1px solid #E0E0E0;
  border-radius: 24px;
  background-color: #fff;
  position: relative;
}
@media (max-width: 1023px) {
  #banner .container .enter_card {
    width: 294px;
    height: 134px;
    margin-left: -32px;
  }
  #banner .container .enter_card:first-child {
    margin-bottom: 46px;
  }
}
#banner .container .enter_card .card_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 488px;
}
@media (max-width: 1023px) {
  #banner .container .enter_card .card_container {
    height: 100%;
    flex-direction: row;
    margin-right: -28px;
  }
}
#banner .container .enter_card .card_container .card_title {
  margin-top: -36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1023px) {
  #banner .container .enter_card .card_container .card_title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
    padding: 24px 0 24px 24px;
  }
}
#banner .container .enter_card .card_container .card_title .card_title_chinese {
  font-size: 48px;
  line-height: normal;
}
@media (max-width: 1023px) {
  #banner .container .enter_card .card_container .card_title .card_title_chinese {
    font-size: 32px;
  }
}
#banner .container .enter_card .card_container .card_title .card_title_eng {
  color: #9A9A9A;
  font-size: 24px;
}
@media (max-width: 1023px) {
  #banner .container .enter_card .card_container .card_title .card_title_eng {
    width: 100%;
    margin-top: 8px;
    font-size: 20px;
  }
}
#banner .container .enter_card .card_container .card_title img {
  width: 124px;
  margin-top: 24px;
}
@media (max-width: 1023px) {
  #banner .container .enter_card .card_container .card_title img {
    width: 48px;
    order: -1;
    margin: 0 8px 0 0;
  }
}
#banner .container .enter_card .card_container .hashtag {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1023px) {
  #banner .container .enter_card .card_container .hashtag {
    display: none;
  }
}
#banner .container .enter_card .card_container .enter_btn_lg {
  width: 100px;
}
@media (max-width: 1023px) {
  #banner .container .enter_card .card_container .enter_btn_lg {
    display: none;
  }
}
#banner .container .enter_card .card_container .enter_btn_sm {
  width: 60px;
  display: none;
}
@media (max-width: 1023px) {
  #banner .container .enter_card .card_container .enter_btn_sm {
    display: block;
  }
}
#banner .container .enter_card::after {
  content: "";
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 999px;
  background-color: #BFC9F0;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
@media (max-width: 1023px) {
  #banner .container .enter_card::after {
    width: 80px;
    height: 80px;
    transform: rotate(-90deg) translate(-50%, 50%);
    bottom: 50%;
    left: auto;
    right: 0;
  }
}
#banner .container .enter_card:last-child::after {
  background-color: #EEE5FF;
}

#about_rocket {
  margin-top: -22px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #E6EBFF;
  border-radius: 40px;
}
@media (min-width: 1441px) {
  #about_rocket {
    border-radius: 0;
  }
}
@media (max-width: 1023px) {
  #about_rocket {
    padding-left: 12px;
    padding-right: 12px;
  }
}
#about_rocket .container {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 1023px) {
  #about_rocket .container {
    min-width: 332px;
    flex-direction: column;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
#about_rocket .container .what_is {
  width: 526px;
}
@media (max-width: 1023px) {
  #about_rocket .container .what_is {
    width: 100%;
    margin-bottom: 24px;
  }
}
#about_rocket .container .what_is .title_eng {
  font-size: 20px;
}
@media (max-width: 1023px) {
  #about_rocket .container .what_is .title_eng {
    font-size: 16px;
  }
}
#about_rocket .container .what_is .title_eng ~ p {
  margin-top: 40px;
}
@media (max-width: 1023px) {
  #about_rocket .container .what_is .title_eng ~ p {
    margin-top: 16px;
  }
}
#about_rocket .container .what_is .title_chinese {
  font-size: 48px;
  vertical-align: middle;
}
@media (max-width: 1023px) {
  #about_rocket .container .what_is .title_chinese {
    font-size: 32px;
  }
}
#about_rocket .container .what_is .description {
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 1023px) {
  #about_rocket .container .what_is .description {
    font-size: 16px;
  }
}
#about_rocket .container .what_is .description span {
  font-weight: 700;
}
#about_rocket .container .card_container {
  height: 592px;
  overflow-y: scroll;
}
#about_rocket .container .card_container::-webkit-scrollbar {
  width: 0;
}
@media (max-width: 1023px) {
  #about_rocket .container .card_container {
    overflow: visible;
    height: 100%;
  }
}
#about_rocket .container .card_container .career_card {
  width: 636px;
  height: 280px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  padding: 36px;
  border-radius: 24px;
}
@media (max-width: 1023px) {
  #about_rocket .container .card_container .career_card {
    width: 332px;
    height: 348px;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 16px 20px;
  }
}
#about_rocket .container .card_container .career_card .career_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  #about_rocket .container .card_container .career_card .career_text {
    width: 100%;
    height: 120px;
  }
}
#about_rocket .container .card_container .career_card .career_text h3 {
  font-size: 24px;
}
#about_rocket .container .card_container .career_card .career_text .skill {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}
#about_rocket .container .card_container .career_card .career_text .skill li {
  list-style: none;
  padding: 8px 12px;
  color: #7F94E2;
  border: 2px solid #7F94E2;
  border-radius: 999px;
  margin-left: 12px;
}
#about_rocket .container .card_container .career_card .career_text .skill li:first-child {
  margin-left: 0;
}
@media (max-width: 1023px) {
  #about_rocket .container .card_container .career_card .career_text .skill li {
    font-size: 12px;
  }
}
#about_rocket .container .card_container .career_card .eng_title {
  color: #9A9A9A;
  font-size: 24px;
}
#about_rocket .container .card_container .career_card .career_img {
  display: block;
  width: 169px;
  height: 208px;
  border-radius: 24px;
  background-color: #F0F0F0;
  display: flex;
  justify-content: start;
}
@media (max-width: 1023px) {
  #about_rocket .container .card_container .career_card .career_img {
    justify-content: center;
    width: 292px;
    height: 60px;
    border-radius: 12px;
    margin-top: 110px;
  }
}
#about_rocket .container .card_container .career_card .career_img img {
  height: 160px;
  margin-top: 24px;
}
#about_rocket .container .card_container .career_card:first-child img {
  margin-left: -51px;
}
@media (max-width: 1023px) {
  #about_rocket .container .card_container .career_card:first-child img {
    margin-top: -108px;
    margin-left: 0px;
  }
}
#about_rocket .container .card_container .career_card:nth-of-type(2) img {
  margin-left: -63px;
}
@media (max-width: 1023px) {
  #about_rocket .container .card_container .career_card:nth-of-type(2) img {
    margin-top: -108px;
    margin-left: 0px;
  }
}
#about_rocket .container .card_container .career_card:nth-of-type(3) img {
  margin-left: -59px;
}
@media (max-width: 1023px) {
  #about_rocket .container .card_container .career_card:nth-of-type(3) img {
    margin-top: -108px;
    margin-left: 0px;
  }
}
#about_rocket .container .card_container .career_card:first-child {
  margin-top: 0;
}

#success_case {
  width: 100%;
}
#success_case .container {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 92px;
  padding-bottom: 120px;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1023px) {
  #success_case .container {
    padding: 48px 0 92px 48px;
  }
}
#success_case .container h3 {
  font-size: 36px;
}
@media (max-width: 1023px) {
  #success_case .container h3 {
    font-size: 28px;
  }
}
#success_case .container .card_container {
  width: 100%;
  overflow-x: scroll;
}
#success_case .container .card_container::-webkit-scrollbar {
  height: 0;
  width: 0;
}
#success_case .container .card_container div {
  width: 1296px;
  display: flex;
  justify-content: space-between;
}
#success_case .container .card_container img {
  height: 200px;
  border-radius: 12px;
  margin-top: 28px;
}
@media (max-width: 1023px) {
  #success_case .container .card_container img {
    margin-top: 16px;
  }
}

#training {
  background-color: #F8F9FD;
  font-size: 16px;
}
#training .container {
  max-width: 1076px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: -28px;
}
@media (max-width: 1023px) {
  #training .container {
    padding-left: 48px;
    padding-right: 48px;
  }
}
#training .container h3 {
  font-size: 36px;
}
@media (max-width: 1023px) {
  #training .container h3 {
    font-size: 28px;
  }
}
#training .container .new_batch {
  display: flex;
  padding: 12px 20px;
  margin-top: 12px;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0 2px 4px #E8E8E8;
}
@media (max-width: 1023px) {
  #training .container .new_batch {
    width: 100%;
    font-size: 14px;
  }
}
#training .container .new_batch .new_batch_title {
  padding: 5px 12px 5px 0;
  margin-right: 12px;
  border-right: 2px solid #F0F0F0;
}
@media (max-width: 428px) {
  #training .container .new_batch .new_batch_title {
    width: 76px;
  }
}
#training .container .new_batch .new_batch_ticker {
  padding: 5px 0;
  font-weight: 500;
}
@media (max-width: 1023px) {
  #training .container .new_batch .new_batch_ticker {
    min-width: 230px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}
#training .container .new_batch .new_batch_ticker p {
  font-weight: 500;
}
@media (max-width: 1023px) {
  #training .container .new_batch .new_batch_ticker p {
    height: 24px;
    white-space: nowrap;
  }
}
#training .container .career_card_container .career_card {
  border-radius: 16px;
  border: 1px solid #F0F0F0;
  background: #fff url("../image/training/training-bg.png");
  padding: 0 80px 42px 48px;
  margin-top: 80px;
}
@media (max-width: 1023px) {
  #training .container .career_card_container .career_card {
    padding: 0 48px 42px 48px;
    border-radius: 0;
  }
}
#training .container .career_card_container .career_card h5 {
  display: inline-block;
  margin-top: -32px;
  margin-bottom: 28px;
  padding: 12px 40px;
  border: 2px solid #363636;
  border-radius: 12px;
  box-shadow: 4px 4px 0 #363636;
  background-color: #fff;
  line-height: normal;
  font-size: 24px;
}
@media (max-width: 1023px) {
  #training .container .career_card_container .career_card h5 {
    margin-bottom: 24px;
    font-size: 20px;
  }
}
#training .container .career_card_container .career_card .card_content_container {
  max-width: 1076px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1023px) {
  #training .container .career_card_container .career_card .card_content_container {
    flex-direction: column;
  }
}
#training .container .career_card_container .career_card .card_content_container .card_content {
  width: 618px;
}
@media (max-width: 428px) {
  #training .container .career_card_container .career_card .card_content_container .card_content {
    width: 100%;
  }
}
#training .container .career_card_container .career_card .card_content_container .card_content section {
  margin-top: 36px;
}
#training .container .career_card_container .career_card .card_content_container .card_content section:first-child {
  margin-top: 0;
}
#training .container .career_card_container .career_card .card_content_container .card_content section p {
  font-weight: 400;
}
#training .container .career_card_container .career_card .card_content_container .card_content section h6 {
  display: inline-block;
  border-bottom: 3px solid #363636;
  font-size: 20px;
  margin-bottom: 16px;
}
@media (max-width: 1023px) {
  #training .container .career_card_container .career_card .card_content_container .card_content section h6 {
    font-size: 18px;
  }
}
#training .container .career_card_container .career_card .card_content_container .card_content section .mark_style {
  background-color: #FFEEA3;
  font-weight: 700;
}
#training .container .career_card_container .career_card .card_content_container .card_content section .underline_style {
  font-weight: 500;
  text-decoration: underline;
}
#training .container .career_card_container .career_card .card_content_container .card_content section ol {
  margin-left: 20px;
}
#training .container .career_card_container .career_card .card_content_container .card_content section ol li {
  font-weight: 400;
}
#training .container .career_card_container .career_card .card_content_container .card_content section ol li::marker {
  font-family: "Noto Sans TC", sans-serif;
}
#training .container .career_card_container .career_card .card_content_container .card_img {
  height: 280px;
}
@media (max-width: 1023px) {
  #training .container .career_card_container .career_card .card_content_container .card_img {
    order: -1;
    height: 200px;
  }
}
#training .container .career_card_container .career_card .card_content_container .card_img img {
  height: 100%;
}
#training .container .coach {
  width: 100%;
  margin-top: 64px;
  margin-bottom: 128px;
}
#training .container .coach h4 {
  font-size: 32px;
}
@media (max-width: 1023px) {
  #training .container .coach h4 {
    font-size: 24px;
  }
}
#training .container .coach .coach_card_container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
#training .container .coach .coach_card_container .coach_card {
  width: 251px;
  height: 160px;
  border-radius: 16px;
  background-color: #fff;
  border: 2px solid #363636;
  display: flex;
  align-items: end;
}
#training .container .coach .coach_card_container .coach_card:hover, #training .container .coach .coach_card_container .coach_card:active {
  background-color: #E6EBFF;
}
#training .container .coach .coach_card_container .coach_card img {
  width: 180px;
}
@media (max-width: 1023px) {
  #training .container .coach .coach_card_container .coach_card img {
    width: 220px;
  }
}
#training .container .coach .coach_card_container .coach_card .coach_name {
  writing-mode: vertical-lr;
  padding: 16px;
  background-color: #fff;
  border-radius: 12px;
  border: 2px solid #363636;
  box-shadow: 4px 4px 0 #363636;
  letter-spacing: 0.5em;
  vertical-align: middle;
  align-self: flex-start;
  margin-top: -24px;
}
#training .container .coach .coach_description_container {
  margin-top: 28px;
}
#training .container .coach .coach_description_container .coach_description {
  display: none;
}
#training .container .coach .coach_description_container .coach_description:first-child {
  display: block;
}
#training .container .coach .coach_description_container .coach_description h5 {
  font-size: 24px;
}
#training .container .coach .coach_description_container .coach_description ul {
  margin-top: 12px;
  margin-left: 24px;
}
#training .container .coach .coach_description_container .coach_description ul li, #training .container .coach .coach_description_container .coach_description ul a {
  font-weight: 400;
  font-size: 16px;
  color: #363636;
}
#training .container .button_go {
  max-width: 1076px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 96px;
  justify-content: center;
  align-items: center;
  background-color: #E6EBFF;
  border-radius: 16px;
  border: 2px solid #363636;
  margin-top: 80px;
  transform: translate(0, 50%);
}
#training .container .button_go span {
  font-size: 32px;
}
#training .container .button_go img {
  display: none;
  width: 64px;
  margin-left: 20px;
}
#training .container .button_go:hover img {
  display: inline-block;
}

#faq .container {
  max-width: 856px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 128px;
  padding-bottom: 128px;
}
#faq .container section {
  margin-bottom: 60px;
}
#faq .container section h4 {
  font-size: 32px;
}
#faq .container section li {
  font-size: 16px;
  font-weight: 500;
  list-style: none;
}
#faq .container section .question_item {
  border-top: 2px solid #F0F0F0;
  padding: 20px;
  display: flex;
  align-items: start;
  justify-content: start;
}
#faq .container section .question_item:last-child {
  border-bottom: 2px solid #F0F0F0;
}
#faq .container section .question_item img {
  width: 24px;
  margin-right: 20px;
}
#faq .container section .question_item li {
  max-width: 761px;
  width: 100%;
}
#faq .container section .question_item li:first-child {
  font-weight: 700;
  margin-bottom: 8px;
}

#support {
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#support h4 {
  align-self: flex-start;
  margin-top: -16px;
}
#support .container {
  padding: 40px 0;
  width: 1368px;
  overflow-x: scroll;
}
#support .container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#support .container .support_card_container {
  display: flex;
}
#support .container .support_card_container .support_card_item {
  margin-left: 24px;
}
#support .container .support_card_container .support_card_item:first-child {
  margin-left: 0;
}
#support .container .support_card_container .support_card_item .support_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 148px;
  background-color: #fff;
  border-radius: 12px;
}
#support .container .support_card_container .support_card_item .support_text {
  font-size: 16px;
  margin-top: 16px;
}
#support .container .support_card_container .support_card_item .support_text p:last-child {
  font-weight: 500;
  margin-top: 4px;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px 0;
}
@media (max-width: 1023px) {
  #footer {
    flex-direction: column;
  }
}
#footer p {
  font-size: 16px;
  font-weight: 400;
}
#footer p:first-child::after {
  content: "-";
  margin: 0 8px;
}
@media (max-width: 1023px) {
  #footer p:first-child::after {
    display: none;
  }
}/*# sourceMappingURL=bootcamp_rocket.css.map */