.button_go_container {
  margin-top: 32px;
  width: 100%;
}
@media (max-width: 767px) {
  .button_go_container {
    margin-top: -12px;
  }
}

.button_go {
  display: flex;
  width: 100%;
  height: 96px;
  justify-content: center;
  align-items: center;
  background-color: #e6ebff;
  border-radius: 16px;
  border: 2px solid #363636;
  transform: translate(0, 50%);
  text-decoration: none;
}
.button_go h3 {
  display: flex;
  align-items: center;
  line-height: normal;
}
.button_go .button_img {
  width: 0;
  opacity: 0;
  transition: 0.5s;
}
.button_go:hover img {
  width: 64px;
  opacity: 1;
  margin-left: 20px;
}