@import "guildline";

.mark_style::after {
  background-color: $accent-orange;
}

#about_us {
  padding: 60px 0;
  background-color: $primary-violet-200;
  border-radius: 24px;

  @include mobile() {
    padding: 36px 0;
  }

  .container {
    @include w-1296();

    @include mobile() {
      flex-direction: column;
      max-width: 332px;
    }

    .map {
      width: 636px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px;
      background-color: #fff;
      border-radius: 16px;

      @include mobile() {
        order: 1;
        margin-top: 20px;
        max-width: 332px;
        width: 100%;
      }

      img {
        width: 100%;
        height: auto;
      }

      img.map_lg {
        display: inline-block;
        border-radius: 16px;

        @include mobile() {
          display: none;
        }
      }

      img.map_sm {
        display: none;
        border-radius: 8px;

        @include mobile() {
          display: inline-block;
        }
      }
    }

    .summary {
      width: 500px;

      @include mobile() {
        max-width: 332px;
        width: 100%;

        p {
          font-size: 16px;
        }
      }

      h2 {
        font-size: 48px;

        @include mobile() {
          font-size: 32px;
        }
      }

      .summary_content {
        margin-top: 40px;
        font-weight: 400;

        @include mobile() {
          margin-top: 16px;
        }
      }
    }
  }
}

#space {
  padding: 80px 0;

  @include mobile() {
    padding: 48px 0;
  }

  .container {
    @include w-1076();
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include mobile() {
      max-width: 332px;
      width: 100%;
    }

    h3 {
      font-size: 36px;
    }

    h4 {
      display: inline-block;
      font-size: 28px;
      line-height: normal;
    }

    .place {
      width: 100%;
      margin-top: 60px;

      @include mobile() {
        margin-top: 16px;
      }

      .place_card_container {
        width: 100%;
        margin-top: 32px;

        @include mobile() {
          margin-top: 24px;
        }

        .place_card {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &:first-child ~ .place_card {
            margin-top: 52px;
          }

          @include mobile() {
            flex-direction: column;

            &:first-child ~ .place_card {
              margin-top: 48px;
            }
          }

          .place_card_img {
            max-width: 510px;
            width: 100%;

            // background-image: url('../image/share_place/intro-discuss-lg-2x.png');
            // background-position: 0 0;
            // background-image: url('../image/share_place/intro-discuss-sm-2x.png');

            @include mobile() {
              width: 100%;
            }

            img {
              width: 100%;
            }

            .img_lg {
              display: block;

              @include mobile() {
                display: none;
              }
            }

            .img_sm {
              display: none;

              @include mobile() {
                display: block;
              }
            }
          }

          .place_card_text {
            width: 494px;

            @include mobile() {
              order: 1;
              width: 100%;
              margin-top: 24px;
            }

            h5 {
              font-size: 24px;

              @include mobile() {
                font-size: 20px;
              }
            }

            p {
              color: $neutral-gray-600;
              font-size: 16px;
              font-weight: 400;
              margin-top: 20px;

              @include mobile() {
                font-size: 14px;
                margin-top: 8px;
              }
            }
          }
        }
      }
    }

    //icon 有點調皮，還要找一下問題
    .service {
      margin-top: 84px;
      width: 100%;

      @include mobile() {
        margin-top: 48px;
      }

      .service_card_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-top: 28px;

        @include mobile() {
          flex-direction: column;
        }

        .service_card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          max-width: 300px;
          width: 100%;

          &:nth-child(3) ~ .service_card {
            margin-top: 48px;
          }

          @include mobile() {
            max-width: 332px;
            flex-direction: row;
            justify-content: start;
            align-items: start;

            &:first-child ~ .service_card {
              margin-top: 28px;
            }
          }

          .service_card_img {
            width: 120px;

            @include mobile() {
              width: 48px;
              height: 48px;
            }

            & img {
              width: 100%;
              height: auto;
            }
          }

          .service_card_text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 24px 0 0 0;

            @include mobile() {
              align-items: start;
              margin: 0 0 0 16px;
            }

            p {
              margin-top: 8px;
              text-align: center;
              font-size: 14px;
              font-weight: 400;
              color: $neutral-gray-600;

              @include mobile() {
                margin-top: 4px;
                text-align: left;
              }
            }

            h5 {
              font-size: 18px;

              @include mobile() {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }

  .carousel {
    margin-top: 80px;
    width: 100%;
    overflow-x: scroll;
    @include scrollbar_none();

    @include mobile() {
      margin-top: 40px;
    }

    .carousel_container {
      display: flex;
      max-width: 1440px;

      .carousel_img {
        width: 636px;
        height: 424px;
        border-radius: 12px;

        @include mobile() {
          width: 332px;
          height: 240px;
        }

        &:first-child ~ .carousel_img {
          margin-left: 24px;
        }
      }
    }
  }
}

#menu {
  width: 100%;
  padding: 60px 0 80px 0;
  background-color: $primary-violet-200;

  @include mobile() {
    padding: 36px 0 48px 0;
  }

  .container {
    @include w-1076();
    flex-direction: column;

    @include mobile() {
      max-width: 332px;
    }

    .notice {
      width: fit-content;
      margin-bottom: 25px; //還要加上下面角角，感覺尺寸要調？
      margin-left: 80px;

      @include mobile() {
        width: 100%;
        height: auto;
        margin-left: 0;
      }

      .notice_block {
        padding: 16px;
        font-size: 16px;
        font-weight: 500;
        background-color: #fff;
        border: 2px solid $neutral-gray-700;
        border-radius: 12px;
        white-space: nowrap;
        line-height: normal;

        @include mobile() {
          padding: 12px 4px;
          font-size: 8px;
        }
      }

      .notice_sharp_outside {
        width: 0;
        height: 0;
        border-top: 20px solid $neutral-gray-700;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        margin: 0px 0 0 18px;

        .notice_sharp_inside {
          width: 0;
          height: 0;
          border-top: 20px solid #fff;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          transform: translate(-50%, -120%);
        }
      }
    }

    p {
      font-size: 20px;
      font-weight: 400;
      margin-top: 8px;
    }
  }
  .menu_card_container_outside {
    @include w-1076();
    margin-top: 36px;

    @include mobile() {
      margin-top: 20px;
      overflow-x: scroll;
      @include scrollbar_none();
    }

    .menu_card_container_inside {
      display: flex;
      justify-content: space-between;

      @include mobile() {
        width: 686px;
      }

      .menu_card {
        background-color: #fff;
        max-width: 526px;
        width: 100%;
        border-radius: 24px;
        border: 2px solid $neutral-gray-700;
        padding: 36px 80px 48px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:last-child {
          margin-left: 24px;
          border: none;
        }

        @include mobile() {
          max-width: 333px;
          padding: 32px;

          &:last-child {
            margin-left: 20px;
          }
        }

        h5 {
          font-size: 24px;
        }

        .price {
          width: 365px;
          height: 134px;
          margin-top: 20px;
          background-color: $neutral-gray-200;
          font-size: 36px;
          display: flex;
          justify-content: center;
          align-items: center;

          @include mobile() {
            width: 270px;
            height: 76px;
            margin-top: 16px;
            font-size: 24px;
          }
        }

        ul {
          margin-top: 23.5px;
          width: 100%;

          li {
            list-style: none;
            display: flex;
            justify-content: start;
            align-items: center;

            &:first-child ~ li {
              margin-top: 16px;
            }

            img {
              width: 21px;

              @include mobile() {
                width: 18px;
              }
            }

            span {
              display: inline-block;
              font-size: 20px;
              font-weight: 400;
              margin-left: 15.5px;
            }
          }
        }
      }
    }
  }

  .button_go {
    background-color: $primary-violet-100;
    transform: translate(0, 0);
    margin-top: 40px;
  }
}
