@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&family=Noto+Sans+TC:wght@400;500;700&display=swap');

@mixin large_desktop {
    @media (min-width: 1441px) {
        @content
    };
}

@mixin mobile {
    @media (max-width: 1280px) {
        @content
    };
}

    // Bootcamp Rocket
    $primary-blue-100: #E6EBFF;
    $primary-blue-200: #BFC9F0;
    $primary-blue-300: #A6B6F1;
    $primary-blue-400: #7F94E2;
    $accent-yellow: #FFEEA3;
    
    // Co-working Space
    $primary-violet-100: #F5F1FF;
    $primary-violet-200: #EEE5FF;
    $primary-violet-300: #CAB2F1;
    $primary-violet-400: #B28FEA;
    $accent-orange: #FFD887;
    
    // Neutral
    $neutral-gray-100: #F8F9FD;
    $neutral-gray-200: #F0F0F0;
    $neutral-gray-300: #E0E0E0;
    $neutral-gray-400: #CDCDCD;
    $neutral-gray-500: #9A9A9A;
    $neutral-gray-600: #757575;
    $neutral-gray-700: #363636;
    
    $font-size-body1-24: 24px;
    $font-size-body2-20: 20px;
    $font-size-body3-16: 16px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Josefin Sans', 'Noto Sans TC', sans-serif;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 0.02em;

    &:focus {
        outline: none;
    }
}

a {
    color: $neutral-gray-700;
    text-decoration: none;
}

img {
    vertical-align: bottom;
}

html, body {
    width: 100%;
    height: 100%;   
}

h1 {
    font-size:  48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
}

//---

@mixin w-1076 {
    max-width: 1076px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

@mixin w-1296 {
    max-width: 1296px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

@mixin scrollbar_none {
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

#marquee {
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
    
    .container {
        // 每 0.1s 往左移動 10px = 1s 移動 100px 
        // = 從 100% 跑到 0% (1440px) 需要 14.4s   

        &:first-child {
            animation: marquee_first 28.8s linear infinite;
        }
        
        &:nth-child(2) {
            animation: marquee_second 28.8s linear infinite;
            animation-delay: -14.4s;
        }
        
        @keyframes marquee_first{
            0% {
                transform: translateX(100%);
            }
        
            100% {
                transform: translateX(-100%);
            }
        }     
        
        @keyframes marquee_second{
            0% {
                transform: translateX(0%);
            }
        
            100% {
                transform: translateX(-200%);
            }
        }   

        
        .marquee_item {
            width: fit-content;
            margin-left: 32px;
            font-size: 16px;
            white-space: nowrap;
        
            
        }
    }
}

main {
    width: 100%;
    margin-top: 64px; //給跑馬燈的空間，之後調整
    display: flex;
    flex-direction: column;
    color: $neutral-gray-700;
}




.button_go {
    @include w-1076();
    height: 96px;
    justify-content: center;
    align-items: center;
    background-color: $primary-blue-100;
    border-radius: 16px;
    border: 2px solid $neutral-gray-700;
    margin-top: 32px;
    transform: translate(0, 50%);
    
    @include mobile() {
        max-width: 332px;
        margin-top: -16px;
    }
    
    span {
        font-size: 32px;
    }
    
    img {
        width: 0; //這個要改！應該要閃現閃消失不能用 width
        opacity: 0;
        transition: 0.5s;
    }
    
    &:hover img {
        width: 64px;
        opacity: 1;
        margin-left: 20px;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px 0;

    @include mobile() {
        flex-direction: column;
    }

    p {
        font-size: 16px;
        font-weight: 400;
    }

    p:first-child::after {
        content: '-';
        margin: 0 8px;

        @include mobile() {
            display: none;
        }
    }
}