@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&family=Noto+Sans+TC:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", "Noto Sans TC", sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  outline: none;
}
*:focus {
  outline: none;
}

a {
  color: #363636;
}

img {
  vertical-align: bottom;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

h1 {
  font-size: 48px;
}
@media (max-width: 1023px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-size: 36px;
}
@media (max-width: 1023px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-size: 32px;
}
@media (max-width: 1023px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 28px;
}
@media (max-width: 1023px) {
  h4 {
    font-size: 20px;
  }
}

.bold_style {
  font-weight: 700;
}

#marquee {
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 1px 2px #f0f0f0;
}
#marquee .container {
  display: flex;
}
#marquee .container:first-child {
  animation: marquee_first 28.8s linear infinite;
}
#marquee .container:nth-child(2) {
  animation: marquee_second 28.8s linear infinite;
  animation-delay: -14.4s;
}
@keyframes marquee_first {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee_second {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
#marquee .container .marquee_item {
  margin-left: 32px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  white-space: nowrap;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  width: 100%;
  color: #363636;
}

#banner {
  background: url("../image/banner/banner-bg.png") repeat top center;
  padding: 0 20px 0;
}
@media (max-width: 1023px) {
  #banner {
    padding: 0 12px 0;
  }
}
#banner a {
  text-decoration: none;
}
#banner .container {
  max-width: 1076px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 127px;
  padding-bottom: 182px;
}
@media (max-width: 1023px) {
  #banner .container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 88px;
    height: 462px;
  }
}
#banner .container .deco_cross {
  font-size: 48px;
}
@media (max-width: 1023px) {
  #banner .container .deco_cross {
    display: none;
  }
}
#banner .container .enter_card {
  display: block;
  position: relative;
  width: 440px;
  height: 448px;
  border: 2px solid #e0e0e0;
  border-radius: 24px;
  background-color: #fff;
  transition: 0.5s;
}
@media (max-width: 1023px) {
  #banner .container .enter_card {
    width: 294px;
    height: 134px;
    margin-left: -32px;
    transition: 0s;
  }
  #banner .container .enter_card:first-child {
    margin-bottom: 46px;
  }
}
#banner .container .enter_card:hover {
  margin-top: -16px;
}
#banner .container .enter_card:hover .card_container,
#banner .container .enter_card:hover .shape,
#banner .container .enter_card:hover .enter_btn {
  filter: opacity(1);
}
@media (max-width: 1023px) {
  #banner .container .enter_card:hover {
    margin-top: 0;
  }
}
#banner .container .enter_card:active, #banner .container .enter_card.active {
  margin-top: 0;
  box-shadow: 8px 8px 0 #bfc9f0;
  transition: 0s;
}
#banner .container .enter_card:active .card_container,
#banner .container .enter_card:active .shape,
#banner .container .enter_card:active .enter_btn, #banner .container .enter_card.active .card_container,
#banner .container .enter_card.active .shape,
#banner .container .enter_card.active .enter_btn {
  filter: opacity(1);
}
#banner .container .enter_card:active::after, #banner .container .enter_card.active::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  height: 42px;
  width: 42px;
  transform: translate(100%, -100%);
  background: url("../image/banner/ic-highlight-rocket-lg-.svg") center center;
}
@media (max-width: 1023px) {
  #banner .container .enter_card:active::after, #banner .container .enter_card.active::after {
    right: auto;
    left: 0;
    transform: translate(-50%, -50%);
    background-image: url("../image/banner/ic-highlight-rocket-sm-.svg");
  }
}
#banner .container .enter_card .card_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  filter: opacity(0.5);
}
@media (max-width: 1023px) {
  #banner .container .enter_card .card_container {
    height: 100%;
    flex-direction: row;
    margin-right: -28px;
  }
}
#banner .container .enter_card .card_container .card_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -36px;
}
@media (max-width: 1023px) {
  #banner .container .enter_card .card_container .card_title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
    padding: 24px 0 24px 24px;
  }
}
#banner .container .enter_card .card_container .card_title .card_title_tw {
  font-size: 48px;
  line-height: normal;
  height: 72px;
}
@media (max-width: 1023px) {
  #banner .container .enter_card .card_container .card_title .card_title_tw {
    font-size: 32px;
    height: auto;
  }
}
#banner .container .enter_card .card_container .card_title .card_title_en {
  color: #9a9a9a;
  font-size: 24px;
}
@media (max-width: 1023px) {
  #banner .container .enter_card .card_container .card_title .card_title_en {
    width: 100%;
    margin-top: 8px;
    font-size: 20px;
  }
}
#banner .container .enter_card .card_container .card_title .card_img {
  width: 124px;
  margin-top: 24px;
}
@media (max-width: 1023px) {
  #banner .container .enter_card .card_container .card_title .card_img {
    width: 48px;
    order: -1;
    margin: 0 8px 0 0;
  }
}
#banner .container .enter_card .card_container .hashtag {
  text-align: center;
  margin-top: 16px;
}
@media (max-width: 1023px) {
  #banner .container .enter_card .card_container .hashtag {
    display: none;
  }
}
#banner .container .enter_card .card_container .hashtag li {
  line-height: 35px;
  list-style: none;
}
#banner .container .enter_card .enter_btn {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 44px);
  width: 120px;
  height: 126px;
  background: url("../image/banner/banner-btn-rocket-lg.svg") no-repeat center center;
  filter: opacity(0.8);
}
@media (max-width: 1023px) {
  #banner .container .enter_card .enter_btn {
    width: 60px;
    height: 60px;
    bottom: 50%;
    left: auto;
    right: 0;
    transform: translate(50%, 50%);
    background: url("../image/banner/banner-btn-rocket-sm.svg") no-repeat center center;
  }
}
#banner .container .enter_card .shape {
  width: 120px;
  height: 120px;
  border-radius: 999px;
  background-color: #bfc9f0;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  filter: opacity(0.5);
}
@media (max-width: 1023px) {
  #banner .container .enter_card .shape {
    width: 80px;
    height: 80px;
    transform: rotate(-90deg) translate(-50%, 50%);
    bottom: 50%;
    left: auto;
    right: 0;
  }
}
#banner .container .enter_card.space .shape {
  background-color: #eee5ff;
}
#banner .container .enter_card.space .enter_btn {
  background-image: url("../image/banner/banner-btn-coworking-lg.svg");
}
@media (max-width: 1023px) {
  #banner .container .enter_card.space .enter_btn {
    background-image: url("../image/banner/banner-btn-coworking-sm.svg");
  }
}
#banner .container .enter_card.space:active, #banner .container .enter_card.space.active {
  box-shadow: 8px 8px 0 #eee5ff;
}
#banner .container .enter_card.space:active::after, #banner .container .enter_card.space.active::after {
  background-image: url("../image/banner/ic-highlight-coworking-lg-.svg");
}
@media (max-width: 1023px) {
  #banner .container .enter_card.space:active::after, #banner .container .enter_card.space.active::after {
    background-image: url("../image/banner/ic-highlight-coworking-sm-.svg");
  }
}

.button_go {
  max-width: 1076px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 96px;
  justify-content: center;
  align-items: center;
  background-color: #e6ebff;
  border-radius: 16px;
  border: 2px solid #363636;
  margin-top: 32px;
  transform: translate(0, 50%);
  text-decoration: none;
}
@media (max-width: 1023px) {
  .button_go {
    max-width: 332px;
    margin-top: -16px;
  }
}
.button_go h3 {
  display: flex;
  align-items: center;
  line-height: normal;
}
.button_go .button_img {
  width: 0;
  opacity: 0;
  transition: 0.5s;
}
.button_go:hover img {
  width: 64px;
  opacity: 1;
  margin-left: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px 0;
}
@media (max-width: 1023px) {
  footer {
    flex-direction: column;
  }
}
footer p {
  font-size: 16px;
  font-weight: 400;
}
footer p:first-child::after {
  content: "-";
  margin: 0 8px;
}
@media (max-width: 1023px) {
  footer p:first-child::after {
    display: none;
  }
}/*# sourceMappingURL=guildline.css.map */